.todayDetails{
  font-size: 30px;
  font-weight: bold;
  height:200px;
  margin: 5px;
}
.temp{
      font-size: 40px;
      
}
.h8Style{
  font-size:12px;
}
.style1{
  background-image: linear-gradient( 135deg, rgb(30, 182, 253) 10%, rgb(17, 71, 187) 100%);
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border:1px solid #ffffff;
  width: 1000px
}
.jumbo{
  height:10px;
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
  color:white;
}
.App{
  background-image: linear-gradient( 135deg, rgb(35, 144, 245) 10%, #00E4FF 100%);
 
}
.styleh6{
  font-style: italic;

}
.jumbo3{
  font: bolder;
}
.h1Style{
  margin:1%  35% 5% 35%;
  font-size:29px;
    font-weight:bold
}

@media  (max-width: 600px) {
  .hStyle{
    text-decoration: underline;
    font-size: 20px;
 }
 .styleh6{
   font-size: 9px;
 }
}